

<header>
    <% if (username) { %>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand"><%=username.email%></a>
      </div>
      <form action='/logout' method='POST'>
        <input class="header-options btn btn-primary" type='submit' value="Logout">
      </form>
    <% } else { %>
      <a href="/login"> <button class="header-options btn btn-primary"> login </button></a>
      <a href="/register"> <button class="header-options btn btn-primary"> register </button></a>
    <% } %>
    </div>
  </nav>
</header>
