
<header>
  <% if (username) { %>
    <h1>Current user: <%=username.email%> </h1>
    <form action='/logout' method='POST'>
      <input type='submit' value="Logout">
    </form>
  <% } else { %>
    <form action='/login'>
      <input type="submit" value='Login'>
    </form>
    <form action='/register'>
      <input type="submit" value='Register'>
    </form>
  <% } %>
</header>