<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
      <header><% include partials/_header %></header>
      <ul>
        <% for (var shortUrl in urlDatabase) { %>
        <li><%= shortUrl %>: <a href><%= urlDatabase[shortUrl].longURL %></a></li>
        <a href="/urls/<%= shortUrl %>"> <button> EDIT </button></a>
        <form method="POST" action="/urls/<%= shortUrl %>/delete"><input type = "submit" value = "Delete"></form>
        <% }; %>
        <a href="/urls/new"> <button> create a new link! </button></a><br>
      </ul>
  </body>
</html>
