<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>

  <body>

<h1><%= username %></h1>
 <% include partials/_header %>
  <ul>

      <li> <%=shortURL%> <%=fullURL%></li>
  </ul>


  </body>
</html>